body{
    font-family: Roboto;
    background: black;
    margin-left: 250px;
}

.post{
    width: 700px;
    background: white;
}

.header{
    height: 50px;
    display: flex;    
}

.header span{
    margin-top: 7px;
}

.header i{
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.elipsisIcon{
    margin-right: 10px;
    margin-left: 570px;
}

.image-container{
    width: 700px;
}