body{
    font-family: Roboto;
    background: black;
    margin-left: 250px;
}

.post{
    width: 700px;
    background: white;
}

.header{
    height: 50px;
    display: flex;    
}

.header span{
    margin-top: 7px;
    width: 650px;
}

.header i{
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
}

.elipsisIcon{
    margin-right: 10px;
    float: left;
}

.image-container{
    width: 700px;
    height: 300px;
}

.threeIcons{
    height: 35px;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

.flagIcon{
    margin-top: 25px;
    margin-right: 10px;
    float: right;
}

.liked-section{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.paragraph-section span{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}